{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner" style="background-color:aqua; width:100%; height:200px; margin-bottom:50px;">
                <div class="banner-text";>
                    <h1 style="color:red; top:10%; left:47%; position:absolute; transform:transform;">ToDo </h1>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" class="p-3 shadow">
                {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="task" placeholder="enter task name">
            </div>
             <div class="form-group">
                 <input type="text"  class="form-control" name="priority" placeholder="enter priority">
             </div>
             <div class="form-group">
                 <input type="text" class="form-control" name="date" placeholder="DATE (yyyy-mm-dd)"><br>
             </div>
                <input type="submit" class="btn btn-success">
                 </form>





        </div>
        <div class="col-md-6">
            <h4 style="color:blue;">tasks to be completed</h4>
             {% for i in task %}
            <div class="card shadow">
                <div class="card-body">
                    <h4>{{i.name}}</h4>
                    <p><b>{{i.priority}}</b></p>
                    <p>{{i.date}}</p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">DELETE</a>
                    <a class="btn btn-warning" href="{% url 'update' i.id %}">UPDATE</a>




                </div>

            </div><br>
             {% endfor %}
        </div>
    </div>
</div>



{% endblock %}